<script>
    document.addEventListener("scroll", function(){
      activeToc();
    });

    const contents = document.querySelector('.content');
    const hTags = contents.querySelectorAll('h1, h2, h3');
    const topOffsetHeight = document.querySelector('#dl-menu').offsetHeight;
    const toc=document.querySelector('#markdown-toc');
    const tocList=toc.querySelectorAll('a');

    const activeToc = function () {
      let curIdx = findCurrentHTag();
      let curToc = tocList[curIdx];
      tocList.forEach( aTag =>{
        aTag.classList.remove('toc-active');
      });
      curToc.classList.add('toc-active');
    };

    const findCurrentHTag = function () {
      let cnt=0;
      const centerHeight = window.scrollY - topOffsetHeight;
      [...hTags].reduce((pre, cur,idx) => {
          if (centerHeight < pre.offsetTop && centerHeight < cur.offsetTop) {
              return pre;
          }
          if (pre.offsetTop < centerHeight && centerHeight <= cur.offsetTop) {
              return pre;
          }
          cnt++;
          return cur;
      });
      if(cnt>hTags.length-2){
        cnt=hTags.length-1;
      }
      return cnt === 0 ? 0 : cnt-1;
    };

    if(window.innerWidth <= 1279){
      if(document.querySelector('#divTOC')===null){
        let refElement = document.getElementById("markdown-toc");
        let parent = refElement.parentNode;
        let newDiv = document.createElement("div");
        parent.insertBefore(newDiv, refElement);
        newDiv.id = 'divTOC';
        newDiv.innerHTML="목차";
        newDiv.classList.add('fakeH1');
      }
      /* 좁은 화면에서 */
      if(hTags.length<8){ /* 전체 목차 개수가 8개 보다 작으면 ToC 모두 나오도록 지정 */
          document.querySelector(".toc").style.height="auto";
      }else{ /* 전체 목차 개수가 8개 보다 크면 ToC 일부만 나오도록 지정 */
        if(window.innerWidth > 480){/* 스마트폰보다 큰 화면이면 ToC 높이 250px로 지정 */
            document.querySelector(".toc").style.height="250px";
        }else{ /* 스마트폰보다 작은 화면이면 ToC 높이 150px로 지정 */
          document.querySelector(".toc").style.height="150px";
        }
      }
    }
    else{ /* 넓은 화면에서 */
      if(hTags.length>20){ /* 전체 목차 개수 20개 보다 많으면 overflow 처리를 위해 높이 적절히 화면의 82%로 지정 */
        document.querySelector(".toc").style.height="82%";
      }else{
        document.querySelector(".toc").style.height="auto";
      }
    }

    window.addEventListener("resize", function(){
      if(window.innerWidth <= 1279){
        if(document.querySelector('#divTOC')===null){
          let refElement = document.getElementById("markdown-toc");
          let parent = refElement.parentNode;
          let newDiv = document.createElement("div");
          parent.insertBefore(newDiv, refElement);
          newDiv.id = 'divTOC';
          newDiv.innerHTML="목차";
          newDiv.classList.add('fakeH1');
        }
        /* 좁은 화면에서 */
        if(hTags.length<8){ /* 전체 목차 개수가 8개 보다 작으면 ToC 모두 나오도록 지정 */
          document.querySelector(".toc").style.height="auto";
        }else{ /* 전체 목차 개수가 8개 보다 크면 ToC 일부만 나오도록 지정 */
          if(window.innerWidth > 480){/* 스마트폰보다 큰 화면이면 ToC 높이 250px로 지정 */
            document.querySelector(".toc").style.height="250px";
          }else{ /* 스마트폰보다 작은 화면이면 ToC 높이 150px로 지정 */
            document.querySelector(".toc").style.height="150px";
          }
        }
      }else{
        if(document.querySelector('#divTOC')!==null){
          var divTOC=document.querySelector("#divTOC");
          document.querySelector(".content").removeChild(divTOC);
        }
        /* 넓은 화면에서 */
        if(hTags.length>20){ /* 전체 목차 개수 20개 보다 많으면 overflow 처리를 위해 높이 적절히 화면의 82%로 지정 */
          document.querySelector(".toc").style.height="82%";
        }else{
          document.querySelector(".toc").style.height="auto";
        }
      }
    });
</script>
